<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>SAFAQAH</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightslider/1.1.6/css/lightslider.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/css/swiper.css">
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css">

  <link rel="stylesheet" href="css/main.css">

  <!-- JavaScript -->
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.1/vue.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.2/jquery.matchHeight-min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js"
    integrity="sha384-VjEeINv9OSwtWFLAtmc4JCtEJXXBub00gtSnszmspDLCtC0I4z4nqz7rEFbIZLLU"
    crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/js/swiper.min.js"></script>
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/covervid@1.0.0"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/lightslider/1.1.6/js/lightslider.min.js"></script>

</head>

<body>



  <nav class="navbar navbar-toggleable-md navbar-light bg-primary fixed-top" id="navbar" v-cloak>



    <transition name="fade" mode="out-in">
      <div class="container " v-if="!search" style="margin-top: 21px;">
        <div style="position: absolute; top: -30px; right: 20px; font-size: 10px;" class="hidden-sm-down-bak">

          <a href="" style="font-size: 10px;">English</a>
          <span class="mr-1 ml-1">|</span>
          <a href="" style="font-size: 10px;">&#x627;&#x644;&#x639;&#x631;&#x628;&#x64A;&#x629;</a>
        </div>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
          data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a href="index.html" class="navbar-brand" id="logoname"><img class="mainlogoo" src="https://dewey.tailorbrands.com/production/brand_version_mockup_image/985/3880999985_49e42fd7-cd14-4231-881c-79096123486f.png?cb=1602151385"></a>
        <div class="collapse navbar-collapse" id="navbarColor01">

          <ul class="navbar-nav mr-auto">

          </ul>
          <ul class="navbar-nav">

            <li class="nav-item active dropdown">
              <a class="nav-link dropdown-toggle" href="categories.html" id="navbarDropdownMenuLink"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Categories
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="search.html">Agriculture <span class="text-muted">(0)</span></a>
                <a class="dropdown-item" href="search.html">Building & Construction <span
                    class="text-muted">(2)</span></a>
                <a class="dropdown-item" href="search.html">Computer, Internet & Technology <span
                    class="text-muted">(0)</span></a>
                <a class="dropdown-item" href="search.html">Education <span class="text-muted">(2)</span></a>
                <a class="dropdown-item" href="search.html">Entertainment & Leisure <span
                    class="text-muted">(2)</span></a>
                <a class="dropdown-item" href="search.html">Food & Beverage <span class="text-muted">(7)</span></a>
                <a class="dropdown-item" href="search.html">Hair and Beauty <span class="text-muted">(2)</span></a>
                <a class="dropdown-item" href="search.html">Health, Medical and Fitness <span
                    class="text-muted">(0)</span></a>
                <a class="dropdown-item" href="search.html">Manufacturing <span class="text-muted">(0)</span></a>
                <a class="dropdown-item" href="search.html">Real Estate <span class="text-muted">(0)</span></a>
                <a class="dropdown-item" href="search.html">Retail <span class="text-muted">(4)</span></a>
                <a class="dropdown-item" href="search.html">Service <span class="text-muted">(6)</span></a>
                <a class="dropdown-item" href="search.html">Transportation <span class="text-muted">(0)</span></a>
                <a class="dropdown-item" href="search.html">Travel Related <span class="text-muted">(0)</span></a>
                <a class="dropdown-item" href="search.html">Wholesale & Distribution <span
                    class="text-muted">(0)</span></a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="how.html">How it works</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="pricing.html">Pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="blog.html">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact.html">Contact</a>
            </li>

            <li class="nav-item mr-2">
              <a class="nav-link" href="login.html"><i class="icon-user icons"></i></a>
            </li>


          </ul>
        </div>
      </div>

      <div class="container" v-else>
        <div class="input-group search-bar">
          <span class="input-group-addon"><i class="icon-magnifier icons"></i></span>
          <input type="text" class="form-control form-control-lg" placeholder="Search">
          <span class="input-group-addon"><a href="" class="text-muted" v-on:click.prevent="hideSearchBar"><i
                class="icon-close icons"></i></a></span>
        </div>
      </div>
    </transition>

  </nav>
  <br />
  <br />
  <br />
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <section id="pricess">
          <div class="container">
            <h1 style="text-align: center;font-size: 20px; color: rgb(88, 88, 88);">ADD IMAGE</h1>
          </div>
        </section>
        <form>
          <div class="form-group light-blue">
            <label for="exampleInputEmail1">Ad image</label>
            <p class="form-text text-muted">
              This is the first thing that people will see when they come across your Ad. Choose an image that’s crisp
              and text-free. Here are some tips.
            </p>
            <p class="form-control-static">
            <div style="border: 1px dashed #000; background: #fff; width: 100%; display: block; padding: 20px;"
              class="text-center">
              <p class="text-center">
                <a href=""><strong>Choose an image from your computer</strong></a>
              </p>
              <p>This is the main image associated with your Ad. Make it count!</p>
              <p>At least <strong>1024x576 pixels</strong> • 16:9 aspect ratio</p>
            </div>
            </p>
            <p class="form-text text-muted">
              JPEG, PNG, GIF, or BMP • 50MB file limit
            </p>

          </div>
          <div class="form-group light-blue">
            <label for="exampleInputEmail1">Ad title</label>
            <input type="email" class="form-control form-control-lg" id="exampleInputEmail1"
              aria-describedby="emailHelp" placeholder="Enter a title">
            <p class="form-text text-muted">
              Our search looks through words from your Ad title and blurb, so make them clear and descriptive of what
              you’re making. Your profile name will be searchable, too.<br />

              These words will help people find your Ad, so choose them wisely! Your name will be searchable too.
            </p>
          </div>
          <div class="form-group light-blue">
            <label for="exampleInputEmail1">Short description</label>
            <textarea class="form-control form-control-lg" rows="3"></textarea>
            <p id="passwordHelpBlock" class="form-text text-muted">
              Give people a sense of what you’re doing. Skip “Help me” and focus on what you’re making.


            </p>
          </div>

          <div class="form-group light-blue">
            <label for="exampleInputEmail1">Ad location</label>
            <div class="input-group  input-group-lg">
              <span class="input-group-btn">
                <button class="btn btn-secondary" type="button"><i class="fa fa-location-arrow"
                    aria-hidden="true"></i></button>
              </span>
              <input type="text" class="form-control" placeholder="Search for...">
            </div>
          </div>
          <div class="form-group light-blue">
            <label for="exampleInputEmail1">Tags</label>
            <div class="input-group">
              <input type="text" class="form-control form-control-lg" placeholder="" aria-describedby="basic-addon2">
            </div>
            <p id="passwordHelpBlock" class="form-text text-muted">
              Input comma separated tags
            </p>
          </div>
          <div class="form-group light-blue">
            <div class="row">
              <div class="col-6">
                <label for="exampleInputEmail1">Price</label>

                <div class="input-group  col-12 pl-0">
                  <input type="text" class="form-control form-control-lg" placeholder="" value="0"
                    aria-describedby="basic-addon2">
                  <span class="input-group-addon" id="basic-addon2">GBP</span>
                </div>
                <p id="passwordHelpBlock" class="form-text text-muted">
                  Input price of the product / service you are offering (number only). Put 0 for free
                </p>
              </div>

              <div class="col-6">
                <label for="exampleInputEmail1">Discounted Price </label>

                <div class="input-group  col-12 pl-0">
                  <input type="text" class="form-control form-control-lg" placeholder="" value="0"
                    aria-describedby="basic-addon2">
                  <span class="input-group-addon" id="basic-addon2">GBP</span>
                </div>
                <p id="passwordHelpBlock" class="form-text text-muted">
                  Input discounted price of the product / service you are offering, if it exists (number only)


                </p>
              </div>
            </div>


          </div>

          </fieldset>
        </form>
        <br />
        <br />
        <br />

      </div>


      <div class="col-sm-4">
        <div class="row">
          <div class="col-sm-10 offset-sm-2">
            <br>
            <br>
            <br>
            <br>
            <strong">Getting started?</strong>
              <p>Is this your first Ad? Read our blog articles to prepare an effective Ad and stand out from the rest.
              </p>
              <br />
              <strong>Preview</strong>
              <hr />

              <div class="card box">
                <a href="project.html"><img class="img-fluid" src="https://unsplash.it/410/210?image=11"
                    class="img-fluid" /></a>
                <div class="card-block" class="pb-1"
                  style="position: relative; padding-bottom: 60px; min-height: 170px;">

                  <h6><a href="project.html">architect frictionless supply-chains</a></h6>
                  <p class="desc">MTS ASL Curriculum Workbook is a reproducible study book to build Early Literacy and
                    Academic skills for primary school age children.</p>

                  <div style="position: absolute; bottom: 20px; width: 86%; ">
                    <a href="">Learn more</a>
                  </div>

                </div>

              </div>



          </div>
        </div>
      </div>


    </div>
    <br />
    <br />
    <br />
  </div>

  <nav class="navbar fixed-bottom navbar-light bg-faded" style="background: #fff; border-top: 1px solid #eee">
    <div class="container">

      <a href="payment.html" class="btn btn-primary btn-lg float-right">Submit Add</a>
  <a href="edit.html" class="btn btn-link btn-lg float-right">Previous</a>

</div>
</nav>





  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->


  <script>
    var eventTime = moment().add(8, 'hours'); // Timestamp - Sun, 21 Apr 2013 13:00:00 GMT
    var currentTime = 1366547400; // Timestamp - Sun, 21 Apr 2013 12:30:00 GMT
    var diffTime = eventTime - currentTime;
    var duration = moment.duration(diffTime * 1000, 'milliseconds');
    var interval = 1000;

    setInterval(function () {
      duration = moment.duration(duration - interval, 'milliseconds');
      $('#current_time').text(moment().format('MMMM Do YYYY, h:mma'));
    }, interval);
  </script>
</body>

</html>

<script>
  (function (b, o, i, l, e, r) {
    b.GoogleAnalyticsObject = l; b[l] || (b[l] =
      function () { (b[l].q = b[l].q || []).push(arguments) }); b[l].l = +new Date;
    e = o.createElement(i); r = o.getElementsByTagName(i)[0];
    e.src = '//www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e, r)
  }(window, document, 'script', 'ga'));
  ga('create', ''); ga('send', 'pageview');
</script>

<script>
  var app = new Vue({
    el: '#navbar',
    data: {
      search: false
    },
    methods: {
      showSearchBar: function () {
        this.search = true;
      },
      hideSearchBar: function () {
        this.search = false;
      }
    }
  })
</script>

</body>

</html>