<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>SAFAQAH</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightslider/1.1.6/css/lightslider.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/css/swiper.css">
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css">

  <link rel="stylesheet" href="css/main.css">

  <!-- JavaScript -->
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.1/vue.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.2/jquery.matchHeight-min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js"
    integrity="sha384-VjEeINv9OSwtWFLAtmc4JCtEJXXBub00gtSnszmspDLCtC0I4z4nqz7rEFbIZLLU"
    crossorigin="anonymous"></script>

  <!-- fontawesome -->
  <script src="https://kit.fontawesome.com/9f811d79a8.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/js/swiper.min.js"></script>
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/covervid@1.0.0"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/lightslider/1.1.6/js/lightslider.min.js"></script>

</head>

<body>



  <nav class="navbar navbar-toggleable-md navbar-light bg-primary fixed-top" id="navbar" v-cloak>



    <transition name="fade" mode="out-in">
      <div class="container " v-if="!search" style="margin-top: 21px;">
        <div style="position: absolute; top: -30px; right: 20px; font-size: 10px;" class="hidden-sm-down-bak">

          <a href="" style="font-size: 10px;">English</a>
          <span class="mr-1 ml-1">|</span>
          <a href="" style="font-size: 10px;">&#x627;&#x644;&#x639;&#x631;&#x628;&#x64A;&#x629;</a>
        </div>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
          data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a href="index.html" class="navbar-brand" id="logoname"><img class="mainlogoo" src="https://dewey.tailorbrands.com/production/brand_version_mockup_image/985/3880999985_49e42fd7-cd14-4231-881c-79096123486f.png?cb=1602151385"></a>
        <div class="collapse navbar-collapse" id="navbarColor01">

          <ul class="navbar-nav mr-auto">

          </ul>
          <ul class="navbar-nav">

            <li class="nav-item active dropdown">
              <a class="nav-link dropdown-toggle" href="categories.html" id="navbarDropdownMenuLink"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Categories
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="search.html">Agriculture <span class="text-muted">(0)</span></a>
                <a class="dropdown-item" href="search.html">Building & Construction <span
                    class="text-muted">(2)</span></a>
                <a class="dropdown-item" href="search.html">Computer, Internet & Technology <span
                    class="text-muted">(0)</span></a>
                <a class="dropdown-item" href="search.html">Education <span class="text-muted">(2)</span></a>
                <a class="dropdown-item" href="search.html">Entertainment & Leisure <span
                    class="text-muted">(2)</span></a>
                <a class="dropdown-item" href="search.html">Food & Beverage <span class="text-muted">(7)</span></a>
                <a class="dropdown-item" href="search.html">Hair and Beauty <span class="text-muted">(2)</span></a>
                <a class="dropdown-item" href="search.html">Health, Medical and Fitness <span
                    class="text-muted">(0)</span></a>
                <a class="dropdown-item" href="search.html">Manufacturing <span class="text-muted">(0)</span></a>
                <a class="dropdown-item" href="search.html">Real Estate <span class="text-muted">(0)</span></a>
                <a class="dropdown-item" href="search.html">Retail <span class="text-muted">(4)</span></a>
                <a class="dropdown-item" href="search.html">Service <span class="text-muted">(6)</span></a>
                <a class="dropdown-item" href="search.html">Transportation <span class="text-muted">(0)</span></a>
                <a class="dropdown-item" href="search.html">Travel Related <span class="text-muted">(0)</span></a>
                <a class="dropdown-item" href="search.html">Wholesale & Distribution <span
                    class="text-muted">(0)</span></a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="how.html">How it works</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="pricing.html">Pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="blog.html">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact.html">Contact</a>
            </li>

            <li class="nav-item mr-2">
              <a class="nav-link" href="login.html"><i class="icon-user icons"></i></a>
            </li>


          </ul>
        </div>
      </div>

      <div class="container" v-else>
        <div class="input-group search-bar">
          <span class="input-group-addon"><i class="icon-magnifier icons"></i></span>
          <input type="text" class="form-control form-control-lg" placeholder="Search">
          <span class="input-group-addon"><a href="" class="text-muted" v-on:click.prevent="hideSearchBar"><i
                class="icon-close icons"></i></a></span>
        </div>
      </div>
    </transition>

  </nav>







  <br />
  <br />
  <br />
  <div class="container">
    <div class="row">
      <div class="col-sm-8">


    <!-- <div  class="col-sm-12 editNavbar"  style="position: fixed; z-index: 2;">
          <ul class="breadcrumb">
  <li><a href="edit.html">Basics</a></li>
  <li><a href="edit-category.html">Category</a></li>
  <li><a href="edit-media.html">Photos &amp; video</a></li>
  <li><a href="edit-terms.html">Terms</a></li>
  <li><a href="edit-final.html">Final</a></li>
</ul>



          </div> -->


    <div class="col-sm-12 text-center">
      <h3 style="color:black;font-family: Arial, Helvetica, sans-serif;">Let’s get started.</h3>
      <p style="color:black;">Make a great first impression with your Ad’s title and image, and set your funding goal, campaign duration,
        and Ad category.</p> 
      <section id="pricess" style="margin-top: 40px;">
        <div class="container">
          <!-- <h1 style="text-align: center;font-size: 20px; color: rgb(88, 88, 88);margin-right: 110px;">SELECT TYPE OF ADD -->
          </h1>
        </div>
      </section>
      <section style="color: black;">
        <h2 style="color: rgb(0, 0, 0) ;text-align: center; font-size: 24px;margin: 20px 0px -20px 5px;">What would you like to do?</h2>
        <div class="checkes" style=" margin-top: 30px;text-align: center;">'

          <h3 style="position: relative;bottom: 14px;right: 200px;font-size: 16px;margin: 19px 0px;">Repair My Car</h3>
          <h3 style="position: relative;bottom: 15px;right: 208px;font-size: 16px;margin: 19px 0px;">Spare Parts</h3>

          <input type="checkbox" name='thing1' id="thing1" style="position: relative; bottom:218px;left: 17px;" /><label
            for="thing1">
            <div for="thing1" class="selectingdiv" style="padding-top: 14px;background-color: #fff;">
              <h4 style="position:relative;top:2px;"><i class="material-icons">car_repair</i></h4>
              <h3 style="font-size: 19px;margin: 0px 0px;">Repair My Car</h3>
              <h4 style="font-size: 16px;margin: 21px 0px;">Less than 30 hrs/week</h4>
              <h4 style="font-size: 16px;margin: 21px 0px;">Less than 3 months</h4>
            </div>
          </label>

          <input type="checkbox" name='thing2' id="thing2"
            style="position: relative;bottom: 181px;right: 302px;" /><label for="thing2">
            <div for="thing2" class="selectingdiv" style="margin-top: 4px;padding-top: ;background-color: #fff;">
              <h4 style="position:relative;top:13px;"><i class="material-icons">insights</i></h4>
              <h3 style="font-size: 19px;margin: 19px 0px;">Spare Parts</h3>
              <h4 style="font-size: 16px;margin: 21px 0px;">More than 30 hrs/week</h4>
              <h4 style="font-size: 16px;margin: 21px 0px;">3+ months</h4>
            </div>
          </label>
        </div>
        <br>
      </section>
    </div>

    <!-- <hr style="width: 900px;"> -->




    <section>
      <nav class="navbar fixed navbar-light bg-faded" style="background: #fff; border-top: 1px solid #eee">
        <div class="container">

          <a href="edit-category.html" style="margin-right: 415px;padding-bottom: 6px;" class="btn btn-primary btn-lg float-right">Continue</a>
          <a href="index.html" style="margin-right: 20px;padding-bottom: 6px; border: 1px solid rgb(194, 194, 194);" class="btn btn-lg float-right  btn-default">Cancel</a>
          <!-- <button type="button" class="btn btn-default">Cancel</button> -->
        </div>
  </div>
  <div class="col-sm-4" style="margin-top: -100px;">
    <div class="row">
      <div class="col-sm-10 offset-sm-2">
        <br>
        <br>
        <br>
        <br>
        <strong>Getting started?</strong>
          <p>Is this your first Ad? Read our blog articles to prepare an effective Ad and stand out from the rest.
          </p>
          <br />
          <strong>Preview</strong>
          <hr />

          <div class="card box">
            <a href="project.html"><img class="img-fluid" src="https://unsplash.it/410/210?image=11"
                class="img-fluid" /></a>
            <div class="card-block" class="pb-1"
              style="position: relative; padding-bottom: 60px; min-height: 170px;">

              <h6><a href="project.html">architect frictionless supply-chains</a></h6>
              <p class="desc">MTS ASL Curriculum Workbook is a reproducible study book to build Early Literacy and
                Academic skills for primary school age children.</p>

              <div style="position: absolute; bottom: 20px; width: 86%; ">
                <a href="">Learn more</a>
              </div>

            </div>

          </div>



      </div>
    </div>
  </div>
  </div>
</div>
  </nav>
  </section>



  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->


  <script>
    var eventTime = moment().add(8, 'hours'); // Timestamp - Sun, 21 Apr 2013 13:00:00 GMT
    var currentTime = 1366547400; // Timestamp - Sun, 21 Apr 2013 12:30:00 GMT
    var diffTime = eventTime - currentTime;
    var duration = moment.duration(diffTime * 1000, 'milliseconds');
    var interval = 1000;

    setInterval(function () {
      duration = moment.duration(duration - interval, 'milliseconds');
      $('#current_time').text(moment().format('MMMM Do YYYY, h:mma'));
    }, interval);
  </script>
</body>

</html>

<script>
  (function (b, o, i, l, e, r) {
    b.GoogleAnalyticsObject = l; b[l] || (b[l] =
      function () { (b[l].q = b[l].q || []).push(arguments) }); b[l].l = +new Date;
    e = o.createElement(i); r = o.getElementsByTagName(i)[0];
    e.src = '//www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e, r)
  }(window, document, 'script', 'ga'));
  ga('create', ''); ga('send', 'pageview');
</script>

<script>
  var app = new Vue({
    el: '#navbar',
    data: {
      search: false
    },
    methods: {
      showSearchBar: function () {
        this.search = true;
      },
      hideSearchBar: function () {
        this.search = false;
      }
    }
  })
</script>

</body>

</html>