<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Garages Compare</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightslider/1.1.6/css/lightslider.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/css/swiper.css">
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css">

  <link rel="stylesheet" href="css/main.css">

  <!-- JavaScript -->
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.1/vue.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.2/jquery.matchHeight-min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js"
    integrity="sha384-VjEeINv9OSwtWFLAtmc4JCtEJXXBub00gtSnszmspDLCtC0I4z4nqz7rEFbIZLLU"
    crossorigin="anonymous"></script>

  <!-- fontawesome -->
  <script src="https://kit.fontawesome.com/9f811d79a8.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/js/swiper.min.js"></script>
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/covervid@1.0.0"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/lightslider/1.1.6/js/lightslider.min.js"></script>

</head>

<body>



  <nav class="navbar navbar-toggleable-md navbar-light bg-primary fixed-top" id="navbar" v-cloak>



    <transition name="fade" mode="out-in">
      <div class="container " v-if="!search" style="margin-top: 21px;">
        <div style="position: absolute; top: -30px; right: 20px; font-size: 10px;" class="hidden-sm-down-bak">

          <a href="" style="font-size: 10px;">English</a>
          <span class="mr-1 ml-1">|</span>
          <a href="" style="font-size: 10px;">&#x627;&#x644;&#x639;&#x631;&#x628;&#x64A;&#x629;</a>
        </div>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
          data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a href="index.html" class="navbar-brand" id="logoname"><img class="mainlogoo" src="https://dewey.tailorbrands.com/production/brand_version_mockup_image/985/3880999985_49e42fd7-cd14-4231-881c-79096123486f.png?cb=1602151385"></a>
        <div class="collapse navbar-collapse" id="navbarColor01">

          <ul class="navbar-nav mr-auto">

          </ul>
          <ul class="navbar-nav">

            <li class="nav-item active dropdown">
              <a class="nav-link dropdown-toggle" href="categories.html" id="navbarDropdownMenuLink"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Categories
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="search.html">Agriculture <span class="text-muted">(0)</span></a>
                <a class="dropdown-item" href="search.html">Building & Construction <span
                    class="text-muted">(2)</span></a>
                <a class="dropdown-item" href="search.html">Computer, Internet & Technology <span
                    class="text-muted">(0)</span></a>
                <a class="dropdown-item" href="search.html">Education <span class="text-muted">(2)</span></a>
                <a class="dropdown-item" href="search.html">Entertainment & Leisure <span
                    class="text-muted">(2)</span></a>
                <a class="dropdown-item" href="search.html">Food & Beverage <span class="text-muted">(7)</span></a>
                <a class="dropdown-item" href="search.html">Hair and Beauty <span class="text-muted">(2)</span></a>
                <a class="dropdown-item" href="search.html">Health, Medical and Fitness <span
                    class="text-muted">(0)</span></a>
                <a class="dropdown-item" href="search.html">Manufacturing <span class="text-muted">(0)</span></a>
                <a class="dropdown-item" href="search.html">Real Estate <span class="text-muted">(0)</span></a>
                <a class="dropdown-item" href="search.html">Retail <span class="text-muted">(4)</span></a>
                <a class="dropdown-item" href="search.html">Service <span class="text-muted">(6)</span></a>
                <a class="dropdown-item" href="search.html">Transportation <span class="text-muted">(0)</span></a>
                <a class="dropdown-item" href="search.html">Travel Related <span class="text-muted">(0)</span></a>
                <a class="dropdown-item" href="search.html">Wholesale & Distribution <span
                    class="text-muted">(0)</span></a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="how.html">How it works</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="pricing.html">Pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="blog.html">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact.html">Contact</a>
            </li>

            <li class="nav-item mr-2">
              <a class="nav-link" href="login.html"><i class="icon-user icons"></i></a>
            </li>


          </ul>
        </div>
      </div>

      <div class="container" v-else>
        <div class="input-group search-bar">
          <span class="input-group-addon"><i class="icon-magnifier icons"></i></span>
          <input type="text" class="form-control form-control-lg" placeholder="Search">
          <span class="input-group-addon"><a href="" class="text-muted" v-on:click.prevent="hideSearchBar"><i
                class="icon-close icons"></i></a></span>
        </div>
      </div>
    </transition>

  </nav>

<div class="container inner ">
    <div class="row">

      <div class="col-sm-12" style="margin-top: 60px;">
        <h1>My ads</h1><br /><br />
        <ul class="nav nav-tabs hidden-sm-down">


          <li class="nav-item">
            <a class="nav-link " href="account-dashboard.html">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="account-profile.html">Password</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="account-social.html">Social</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="account-ads.html">My Ads</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="edit.html">Create new ad</a>
          </li>
        </ul>


        <br />
        <br />
        <br />
<section>
  <ul class="nav nav-tabs hidden-sm-down">
    <li class="nav-item">
      <a class="nav-link" href="account-ads.html">ACTIVE</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="recentlyfilled.html">RECENTLY FILLED</a>
    </li>
  </ul>
</section>

                    
<nav class="nav" style="margin-top: 20px;">
  <a class="nav-link active" href="#">All</a>
  <a class="nav-link" href="#">Pending</a>
  <a class="nav-link" href="#">Expired</a>
  <a class="nav-link" href="#">Active</a>
  <a class="nav-link disabled" href="#">Off</a>
  <a class="nav-link disabled" href="#">Not Paid</a>
</nav> 
        <table class="table mt-2 ">
<thead class="thead-inverse">
<tr>
<th>ID</th>
<th>Title</th>
<th>Category</th>
<th>Location</th>
<th>Date Taked</th>
</tr>
</thead>
<tbody>
<tr>
<th scope="row">1</th>
<td><a href="">MACHINE TOOLS FOR TAKEOVER</a></td>
<td>Building &amp; Construction</td>
<td>London</td>
<td>4th June '17'</td>
<td><a href="">edit</a></td>

</tr>
<tr>
<th scope="row">1</th>
<td><a href="">MACHINE TOOLS FOR TAKEOVER</a></td>
<td>Building &amp; Construction</td>
<td>London</td>
<td>4th June '17'</td>
<td><a href="">edit</a></td>

</tr>
<tr>
<th scope="row">1</th>
<td><a href="">MACHINE TOOLS FOR TAKEOVER</a></td>
<td>Building &amp; Construction</td>
<td>London</td>
<td>4th June '17'</td>
<td><a href="">edit</a></td>
</tr>
</tbody>
</table>
       <!-- <div class="row">
    <div class="col-md-12">
    <h5 style="margin-top: 14px;margin-bottom: 14px; color: rgb(95, 95, 95);">Modify HTMl Pages using BootStrap4, CSS, SAS</h5>
      <-- <div class="row">
    <div class="col-sm-6">
        <p style="font-size: 17px;">Fixed-Price</p>
        <p style="margin-top: -15px;font-size: 17px;">Public - created 1 day ago</p>
    </div>
</div> --
    <div class="col-md-6">
        hello
    </div>
              <div class="col-md-4">
                <p>All your ads submitted will be shown here for your convenience.</p>
              </div>
            </div>

          </div> 
          <div class="row">
            <div class="col-md-8">

              <h5 style="margin-top: 14px;margin-bottom: 14px;margin-left: 11px; color: rgb(65, 65, 65);">Modify JavaScript Pages By Using Vue.js, Or Pakages.</h5>
                <div class="col-md-4" style="display: inline-block;">

                <p style="font-size: 17px;">Fixed-Price</p>
                  <p style="font-size: 17px;">Public - created 3 day ago</p>
                </div>
                <div style="display: inline-block;" class="col-sm-2">
                    <p style="font-size: 16px;">
                    <span style="color:rgb(49, 179, 60); font-weight: bold;">38</span> <span style="color: rgb(135, 202, 241);font-weight: bold;"> (48 <br> Used)</span> <br> Bits
                </p>
                </div>
                <div style="display: inline-block;" class="col-sm-2">
                    <p style="font-size: 16px;">
                    <span style="color:rgb(49, 179, 60); font-weight: bold;">7</span> <br><br> Messaging
                </p>
                </div>
                <div style="display: inline-block;" class="col-sm-2">
                    <i style="position: relative;top: -10px;left: 40px; color: #3a83dd;" class="material-icons">info</i>
                    <p style="font-size: 16px;">
                        <span style="color:rgb(48, 53, 48); font-weight: bold;">3</span> <br><br> Hired
                    </p>
                </div>
                </div>
                <div class="col-md-3">
                    <p style="margin-top: 14px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. All your ads submitted will be shown here for your convenience.</p>
                    <button class="btn-default" style="border: rgb(195, 195, 195) 2px solid;">See AnyThing Else</button>
                </div>
          

        </div>             </div>
    </div>


      </div>



    </div>
</div>
    <br />
    <br />
    <br />
  </div>


      <footer class="footer text-white mt-0">
		<div class="container">
			<div class="row pt-5">

				<div class="col-md-12">
<div class="row">

				<div class="col-md-12">
					<h5 class="mt-4 mb-4 text-center">LOGO</h5>
				</div>

        <div class="col-md-6 offset-md-3">
          <p class="mt-4 mb-4 text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pellentesque molestie augue, ut congue erat ullamcorper vitae.</p>
        </div>

        <div class="col-md-6 offset-md-3">

          <div class="d-flex justify-content-center mb-3 mt-3">
            <ul class="social-network social-circle">
                                    <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook fa-fw"></i></a></li>
                                    <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter fa-fw"></i></a></li>
                                    <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin fa-fw"></i></a></li>
                                </ul>
</div>


        </div>





				</div>
				</div>


			</div>
			<br />
			<br />
		</div>
      </footer>
      
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->


	<script>
		var eventTime = moment().add(8, 'hours'); // Timestamp - Sun, 21 Apr 2013 13:00:00 GMT
		var currentTime = 1366547400; // Timestamp - Sun, 21 Apr 2013 12:30:00 GMT
		var diffTime = eventTime - currentTime;
		var duration = moment.duration(diffTime*1000, 'milliseconds');
		var interval = 1000;

		setInterval(function(){
		  duration = moment.duration(duration - interval, 'milliseconds');
			$('#current_time').text(moment().format('MMMM Do YYYY, h:mma'));
		}, interval);
	</script>
  </body>
</html>

    <script>
  (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
  function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
  e=o.createElement(i);r=o.getElementsByTagName(i)[0];
  e.src='//www.google-analytics.com/analytics.js';
  r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
  ga('create','');ga('send','pageview');
</script>

    <script>
var app = new Vue({
  el: '#navbar',
  data: {
    search: false
  },
  methods: {
    showSearchBar: function () {
      this.search = true;
    },
    hideSearchBar: function () {
      this.search = false;
    }
  }
})
</script>

  </body>
</html>
